@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import './common.scss';

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    border-radius: 0 !important;
}

h1 {
    color: $dark-blue;
}

h2 {
    color: $med-blue;
}

a {
    color: $dark-grey;
}

.navbar-fixed-top {
    li a {
        padding: 20px 22px;
    }

    .navbar-nav {
        display: inline-block;
        float: none;
    }

    li > a:hover,
    li > a:focus,
    li.active a {
        background-color: $light-blue;
        outline: none;
        color: $white;
    }

    #navbar.navbar-collapse {
        text-align: center;
    }

    background-color: $white;
    padding-top: $top-buffer;
}

#main-navigation {
    margin-left: 2em;
}

#content {
    margin-top: $top-buffer + 65px;
}

.blue-border {
     border:1px solid $dark-blue;
}

.blue-button {
    background-color: $light-blue;
    padding: 6px auto;
    text-align: center;
    font-weight:bold;
    color: $white;
}

#featured {
    .property {
        .address-container {
            background-color: $light-blue;
            color: $white;
            font-weight: bold;
        }

        p {
            color: $blue-text;
        }
    }
}

footer {
    span {
        display: inline-block;
        margin-top: 85px;
    }
    text-align: center;
    background-color: $light-blue;
    color: $white;
    height: 210px;
}

#account-links {
    margin-right: 0;
}

@media(max-width:767px){
    #account-links {
        display: none;
    }

    .navbar-toggle {
        .icon-bar {
            background-color: $white;
        }
        background-color: $light-blue;
        padding: 12px;
    }

    #main-navigation {
        margin: 0 auto;
        width: 100%;
    }
}

@media(min-width: 768px) {
    #header-image {
        background: url("/images/licensed/header-image.jpg") no-repeat;
        height: 365px;
        max-width: 100%;
        margin-top: 36px;
        background-position-y: -58px;
    }
}
@media(min-width:992px){
    #header-image {
        height: 480px;
        background-position-y: 0;
    }
}